.file-tree {
	margin-top: 0px
}
.file-tree li {
	cursor: pointer;
	user-select: none;
	box-sizing: border-box;;
	margin-top: 0px;
	list-style: none;
	margin-left: 0px;
}

.file-tree ul.node-children
{
	list-style: none;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.file-tree span.inverted-text-color {
	/* Invertierte Farbe */
	color: white;
}

.file-tree .node.directory::before {
	content: "\1F4C1";
	display: inline-block;
	margin-right: 6px;
}
.file-tree .node.file::before {
	content: "\1F5CE";
	display: inline-block;
	margin-right: 16px;
	transform: scale(1.4);
}
.file-tree .directory > span{
	font-weight: bold;
}
.file-tree .node.file{
	margin-left: 5px;
}

.file-tree .open .node.directory::before {
	content: "\1F4C2";
	color: black;
	display: inline-block;
	margin-right: 6px;
}
.file-tree .node-children {
	display: block;
	max-height: 0px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	margin-left: 18px;
}

.file-tree .active {
	max-height:1000px;
}
